@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kalnia:wght@100..700&family=Playball&display=swap');
@import "tailwindcss";
/* @import "tailwindcss/typography"; */
@theme{
  /* FONTS */
  --font-playball: "Playball", cursive;
  /* COLORS */
  --color-primarycolor: #f8f8f8;
  --color-secondarycolor: #1a202c;
  --color-tertiarycolor: #2d3748;
}

.nav-link{
  @apply text-xl font-bold duration-300;
}
.nav-link:hover{
  @apply text-primarycolor;
}